<%= render partial: "layouts/navigation" %>

<div class="hero-body">
  <div class="container">
    <h1 class="title has-text-left has-text-weight-bold about-hero">Ballot America is a campaign consulting firm that <u>develops winning election strategies</u> for ordinary people running for office</h1>
  </div>
</div>
</section>

<!-- Stats-->
<section class="hero is-secondary-blue stat-section">
  <h1 class="title has-text-weight-normal has-text-centered">Ballot America Stats</h1>

  <div class="columns stat-white">
    <div class="column has-text-centered">
      <h3 class="title is-1 has-text-weight-bold">DC</h3>
      <p class="subtitle is-5 has-text-weight-light">Headquarted in <br>the District of Columbia</p>
    </div>
    <div class="column has-text-centered">
      <h3 class="title is-1 has-text-weight-bold">$7,841,236</h3>
      <p class="subtitle is-5 has-text-weight-light">Funds raised for <br>political campaigns and organizations</p>
    </div>
    <div class="column has-text-centered">
      <h3 class="title is-1 has-text-weight-bold">387,534</h3>
      <p class="subtitle is-5 has-text-weight-light">Ballots cast for <br>candidates and initiatives</p>
    </div>
  </div>
</section>

<!-- What We Do-->
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-left has-text-weight-bold about-hero">We are former Obama campaign alumni with over a decade of experience <u class="has-secondary-blue">winning elections,</u> <br>from the local to federal level.</h1>
    </div>
  </div>
</section>

<!-- Full Width Buttons -->
<section class="level">
  <div class="level-item">
    <a href="https://form.jotform.com/ballotamerica/signup" class="button is-success is-1 is-fullwidth is-large fw-btn">Sign up to Run</a>
  </div>

  <div class="level-item">
    <a href="https://form.jotform.com/ballotamerica/recommendation" class="button is-danger is-1 is-fullwidth is-large fw-btn">Recommend Someone</a>
  </div>
</section>
