<!-- Hero -->
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-left has-text-weight-bold">Donald Trump is president, so throw everything you know about politics out the window. You’re qualified to run for local office – we’re here to help.</h1>
    </div>
  </div>
</section>

<!-- What kind of candidate are we looking for? -->
<section class="hero is-fullheight is-ba-blue">
  <div class="hero-body">
      <div class="container">
          <h1 class="title is-1 has-text-left has-text-weight-bold has-text-white">What kind of candidate are we looking for? Ballot America works exclusively with Democrats who are interested in running for local to federal office for the first or ran unsuccesfully before and want to give it a second try.
          </h1>
       </div>
    </div>
</section>

<!-- Moderate to Progressive -->
<section class="hero is-fullheight">
  <div class="hero-body">
      <div class="container">
          <h1 class="title is-1 has-text-left has-text-weight-bold">Moderate to Progressive</h1>
          <h2 class="subtitle is-4 has-text-left has-text-weight-normal">We help people who consider themselves Democrat, who focus on inequality, raising incomes, and creating jobs; who acknowledge that climate change is real, man-made, and our responsibility to fight; and who will fight to reduce gun violence in their community. We are NOT the purity police. We understand a Democrat in Louisiana is different than a Democrat in California.</h2>
       </div>
    </div>
</section>

<!-- Diverse -->
<section class="hero is-fullheight is-secondary-blue">
  <div class="hero-body">
      <div class="container">
          <h1 class="title is-1 has-text-left has-text-weight-bold has-text-white">Diverse</h1>
          <h2 class="subtitle is-4 has-text-left has-text-weight-normal has-text-white">Our candidates will be at least half women, as well as people of color. More broadly, we’ll look for diversity of experience. We certainly need more LGBTQ Americans, African Americans, Hispanics, Native Americans, Asian Americans, Pacific Islanders, and people with disabilities to run for office, and we also need more scientists, more nurses, more teachers, and more engineers to run for office.</h2>
       </div>
    </div>
</section>

<!-- Involved -->
<section class="hero is-fullheight">
  <div class="hero-body">
      <div class="container">
          <h1 class="title is-1 has-text-left has-text-weight-bold">Involved</h1>
          <h2 class="subtitle is-4 has-text-left has-text-weight-normal">We’ll look for candidates who have roots in their communities. This is literally a measurable quality: How many Linkedin, Facebook, and Twitter connections does a person have? How many contacts in their phone that live in their district still? How can we measure their possible influence in their district? We don’t want to convince someone to move home to run — we want someone who calls a place home to step up and run.</h2>
       </div>
    </div>
</section>

<!-- The "It" Factor -->
<section class="hero is-fullheight is-ba-blue">
  <div class="hero-body">
      <div class="container">
          <h1 class="title is-1 has-text-left has-text-weight-bold has-text-white">The "IT" Factor</h1>
          <h2 class="subtitle is-4 has-text-left has-text-weight-normal has-text-white">2016 and 2018 taught us that who the candidate is matters. How well they communicate online and in-person, how comfortable they are in their skin, and how "geniune" they can be are all important factors.

We’re willing to help good candidates wherever they are - regardless if they're in rural or urban centers.</h2>
       </div>
    </div>
</section>

<!-- Call to Action -->
<section class="hero is-fullheight">
  <div class="hero-body">
      <div class="container">
          <h1 class="title is-1 has-text-weight-bold">Sounds like you or someone you know?</h1>
          <div class="buttons are-large">
            <a href="https://form.jotform.com/ballotamerica/candidate-sign-up" class="button is-success">Sign up</a>
            <h2 class="has-text-weight-semibold is-or-spacing">or</h2>
            <a href="https://form.jotform.com/ballotamerica/candidate-recommendation" class="button is-danger is-3">Recommend</a>
          </div>
       </div>
    </div>
</section>
