<!-- Hero -->
<section class="hero is-fullheight">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <%= image_tag("logo_updated.png") %>
    </div>
  </nav>

  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered has-ba-blue">Schedule Your Candidate Assessment</h1>
      <h3 class="subtitle has-text-centered has-ba-blue">with Ballot America CEO - Lenox Ramsey Jr</h3>
      <br>
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/runforoffice-ba/assessment" style="min-width:320px;height:640px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
      <!-- Calendly inline widget end -->
    </div>
  </div>
</section>
