@import "bulma";

.is-ba-blue {
  background-color: #0b4e84;
}

.is-secondary-blue {
  background-color: #4f86c6;
}

.is-whitesmoke {
  background-color: whitesmoke;
}

h2.has-text-weight-semibold.is-or-spacing {
      margin: auto 1.5rem auto 1rem;
}

nav {
  position: absolute;
}

.navbar-brand img {
  height: 80px !important;
  padding: 1rem 2rem;
}

.column {
  padding: 2rem;

  .row {
    height: 10rem;

    .office_sought {
      margin-top: -1.5rem;
    }
  }
}
