@import "bulma";

.is-ba-blue {
  background-color: #0b4e84;
}

.is-secondary-blue {
  background-color: #4f86c6;
}

.is-whitesmoke {
  background-color: whitesmoke;
}

h2.has-text-weight-semibold.is-or-spacing {
      margin: auto 1.5rem auto 1rem;
}

nav {
  position: absolute;
}

.navbar-brand img {
  height: 80px !important;
  padding: 1rem 2rem;
}

.column {
  padding: 2rem;

  .row {
    height: 10rem;

    .office_sought {
      margin-top: -1.5rem;
    }
  }
}

.manymore {
  margin-top: -5rem;
}

section.level {
    margin-bottom: 0 !important;
}

a.button.is-success.is-1.is-fullwidth.is-large.fw-btn, a.button.is-danger.is-1.is-fullwidth.is-large.fw-btn {
    font-size: 48px;
    font-weight: 800;
    border-radius: 0;
}

.fw-btn {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
