<!-- Hero -->
<section class="hero is-fullheight">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <%= image_tag("logo_updated.png") %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to "Home", root_path %>
      </div>
      <div class="navbar-item">
        <%= link_to "Who We Are", about_path %>
      </div>
    </div>
  </nav>
